
img{height: 300px;width: 500px; }
h1{text-align: center;font-style: oblique;background-color: #F4EAE0;font-size: 40pt;}
.movie-titles{font-weight: 550;background-color: #FAF6F0;font-size: 18pt;font-family: Arial, Helvetica, sans-serif;}
footer{text-align: center;font-weight: normal;font-family: Arial, Helvetica, sans-serif;}
p{font-family: Arial, Helvetica, sans-serif; text-align: center} 
